{% load static %}
{% static 'styles' as baseUrl %}
{% static 'images' as pics %}
{% static 'javascript' as javas %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>!!My First Django Project!!</title>
<link rel="stylesheet" type="text/css" href="{{baseUrl}}/navstyle.css">
</head>
<body>
<div class="topnav">
<a href="feedback/feedback_form">Feedback</a>
{% if user.is_authenticated %}
<a>Hello, {{user.first_name}}</a>
<a href="useraccounts/logout">Logout</a>
{% else %}
<a href="useraccounts/register">Signup</a>
<a href="useraccounts/login">Login</a>
{% endif %}
<a href="book/search_books">Books</a>
<img class="logo" src="{{pics}}/websitelogo2.png" alt="Library Logo">
<a class="active" href="#home">Home</a>
</div>
<div class="slideshow-container">

<!-- Full-width images with number and caption text -->
{% for im in imgs %}
<div class="mySlides fade">

<img src="{{im.img.url}}" style="width:100%">
</div>
{% endfor %}

</div>
<br>
<div style="text-align:center">
<span class="dot" onclick="currentSlide(1)"></span>
<span class="dot" onclick="currentSlide(2)"></span>
<span class="dot" onclick="currentSlide(3)"></span>
</div>
<script src="{{javas}}/homepagejavascript.js"></script>
</body>
</html>
