{% extends 'search_books.html' %}
{% block content %}
    <center>
    <h1 class="display-3" style="background-color:#000000;color:#FFFF99;">Update Books</h1>
    <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table class = 'w-50 table table-light' style="border-radius:10px;background-color:#FFFF99;">
            {% for field,val in update_form %}
            <tr>
                <th>{{val.label}}</th>
                <td>{{val}}</td>
            </tr>
            {% endfor %}
        </table>
    <br>
    <button type="submit" class="btn btn-lg btn-warning">Submit</button>
    </form>
    </center>
{% endblock %}

